[Unit]
Description=Binance Crypto Alerts - SL/TP Monitor every 30s

[Timer]
OnBootSec=10s
OnUnitActiveSec=30s
AccuracySec=1s

[Install]
WantedBy=timers.target
